<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>Client Id</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="circle in circles" ng-hide="hideCircle(circle._id)">
                    <td>{{ circle.name }}</td>
                    <td>{{ circle.description }}</td>
                    <td>{{ circle.code }}</td>
                    <td>{{ circle.clientId }}</td>
                    <td>
                        <a class="btn btn-info" href="/edit-circle?circleId={{ circle._id }}">Edit</a>
                        <a class="btn btn-danger" ng-click="deleteCircle(circle._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>

<script src="/admin/js/circle/view.js"></script>