<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>Client</th>
                <th>Project Code</th>
                <th>Region</th>
                <th class="mangerAdminAccess">Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="circle in circles" ng-hide="hideCircle(circle._id)">
                    <td>{{ circle.name }}</td>
                    <td>{{ circle.description }}</td>
                    <td>{{ circle.code }}</td>
                    <td>{{ clientName(circle.client) }}</td>
                    <td>{{ circle.clientCircleCode }}</td>
                    <td>{{ regionName(circle.region) }}</td>
                    <td class="mangerAdminAccess">
                        <a class="btn btn-info" href="/edit-circle?circleId={{ circle._id }}">Edit</a>
                        <a class="btn btn-danger" ng-click="deleteCircle(circle._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
</section>

<script src="/admin/js/jquery.twbsPagination.min.js"></script>
<script src="/admin/js/circle/view.js"></script>