<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content content2" ng-controller="ctrl">
    <div class="box box-primary">
        <table class="table">
            <thead>
                <th>Name</th>
                <!-- <th>Description</th>
                <th>Code</th> -->
                <th class="mangerAdminAccess">Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="department in departments" ng-hide="hidedepartment(department._id)">
                    <td>{{ department.name }}</td>
                    <!-- <td>{{ department.description }}</td>
                    <td>{{ department.code }}</td> -->
                    <td class="mangerAdminAccess">
                        <a class="btn btn-info" href="/edit-department?departmentId={{ department._id }}">Edit</a>
                        <a class="btn btn-danger" ng-click="deletedepartment(department._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>

<script src="/admin/js/department/view.js"></script>