<% layout('../layout/layout') -%>
<div class="tableMainBox">
    <table class="mainTable" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr class="alphaRow">
            <td class="alphaCell default">&nbsp;</td>
            <td class="alphaCell serialNum">A</td>
            <td class="alphaCell">B</td>
            <td class="alphaCell">C</td>
            <td class="alphaCell width200">D</td>
            <td class="alphaCell">E</td>
            <td class="alphaCell">F</td>
            <td class="alphaCell">G</td>
            <td class="alphaCell">H</td>
            <td class="alphaCell">I</td>
            <td class="alphaCell width200">J</td>
            <td class="alphaCell width150">K</td>
            <td class="alphaCell width300">L</td>
            <td class="alphaCell">M</td>
            <td class="alphaCell width200">N</td>
            <td class="alphaCell">O</td>
            <td class="alphaCell">P</td>
            <td class="alphaCell">Q</td>
            <td class="alphaCell">R</td>
            <td class="alphaCell">S</td>
            <td class="alphaCell">T</td>
            <td class="alphaCell">U</td>
            <td class="alphaCell">V</td>
            <td class="alphaCell">W</td>
            <td class="alphaCell">X</td>
            <td class="alphaCell">Y</td>
            <td class="alphaCell">Z</td>
            <td class="alphaCell">AA</td>
            <td class="alphaCell">AB</td>
            <td class="alphaCell">AC</td>
            <td class="alphaCell">AD</td>
            <td class="alphaCell">AE</td>
            <td class="alphaCell">AF</td>
            <td class="alphaCell">AG</td>
            <td class="alphaCell">AH</td>
            <td class="alphaCell">AI</td>
        </tr>
        <tr class="headingRow">
            <td class="default">1</td>
            <td class="serialNum">SN</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="dataRow">
            <td class="default">2</td>
            <td class="serialNum">1</td>
            <td>PC</td>
            <td>OCR</td>
            <td>Item Description/Band</td>
            <td>Site ID</td>
            <td>Site Count</td>
            <td>Month</td>
            <td>Pre Done Date</td>
            <td>Month</td>
            <td>Post/Activity Done Date</td>
            <td>Status</td>
            <td>Remark for Attempt Issue and Pending Sites</td>
            <td>Report Status</td>
            <td>Report Acceptance Status</td>
            <td>Remark</td>
            <td>Concatenate</td>
            <td>Attempt Cycle</td>
            <td>EMP ID</td>
            <td>Eng</td>
            <td>PO Number</td>
            <td>Ship Number</td>
            <td>L1 Approval</td>
            <td>L2 Approval</td>
            <td>PO Value</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Advance</td>
            <td>Approved</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div><!-- tableMainBox -->

<link href="admin/css/network.css" rel="stylesheet">
<script>
    $(document).ready(function(){
        $("tr.dataRow").click(function() {
            $(this).toggleClass("highlight");
        });
    });

    $(".sidebar-mini").addClass("sidebar-collapse");
</script>