<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
      <form id="addRegionForm" ng-submit="submit()">
        <div class="box-body">
          <div class="row">
          <!--<div class="form-group">
            <img src="/admin/dist/img/boxed-bg.png" class="img-circle" style="width: 128px;" id="showImage">
            <br>
            <input type="button" value="Add image" ng-click="addImageButton()" ng-model="formData.image">
            <input type="file" name="userImage" id="userImage" class="hide">
          </div>-->

          <div class="form-group col-md-4">
            <label>Name</label>
            <input class="form-control" placeholder="Name" name="name" ng-model="formData.name" required>
          </div>

          <div class="form-group col-md-4">
            <label>Description</label>
            <input class="form-control" placeholder="Description" name="description" ng-model="formData.description" required>
          </div>

          <div class="form-group col-md-4">
            <label>Code</label>
            <input class="form-control" placeholder="Code" name="code" ng-model="formData.code" required>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="first-btn btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</section>

<script src="/admin/js/region/add.js"></script>