<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
      <form id="addProjectTypeForm" ng-submit="submit()">
        <div class="box-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input class="form-control" placeholder="Name" name="name" ng-model="formData.name" required>
          </div>
          </div>
           <div class="row">
          <div class="form-group col-md-6">
            <label>Department Name</label>
            <select id="departmentNameList" class="form-control" name="departmentName" required>
              <option value="{{defaultDepartmentName._id}}">{{defaultDepartmentName.name}}</option>
            </select>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="first-btn btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</section>
<link rel="stylesheet" href="/admin/css/select2.css">
<script src="/admin/js/select2.full.js"></script>
<script src="/admin/js/projectType/add.js"></script>