<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content content2" ng-controller="ctrl">
    <div class="box box-primary">
        <table class="table">
            <thead>
                <th>Name</th>
               <th>Department</th>
                 <!-- <th>Code</th> -->
                <th class="mangerAdminAccess">Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="projectType in projectTypes">
                    <td>{{ projectType.name }}</td>
                    <td>{{ departmentName(projectType.department) }}</td>
                    <td class="mangerAdminAccess">
                        <a class="btn btn-info" href="/edit-project-type?projectTypeId={{ projectType._id }}">Edit</a>
                        <a class="btn btn-danger" ng-click="deleteProjectType(projectType._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
</section>

<script src="/admin/js/jquery.twbsPagination.min.js"></script>
<script src="/admin/js/projectType/view.js"></script>