<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
      <form id="addclientForm" ng-submit="submit()">
        <div class="box-body">

          <div class="form-group">
            <label>Name</label>
            <input class="form-control" placeholder="Name" name="name" ng-model="formData.name" required>
          </div>

          <div class="form-group">
            <label>PO Number</label>
            <input class="form-control" placeholder="PO Number" name="ponumber" ng-model="formData.ponumber" required>
          </div>

          <div class="form-group">
            <label>Shipment Number</label>
            <input class="form-control" placeholder="Shipment Number" name="shipmentno" ng-model="formData.shipmentno" required>
          </div>
          <div class="form-group">
            <label>Contact Person</label>
            <input class="form-control" placeholder="Shipment Number" name="contactperson" ng-model="formData.contactperson" required>
          </div>
          <div class="form-group">
            <label>Contact Person Number</label>
            <input class="form-control" placeholder="Contact Person Number" name="contactpersonNo" ng-model="formData.contactpersonNo" required>
          </div>
          <div class="form-group">
            <label>Contact Address</label>
            <input class="form-control" placeholder="Contact Address" name="contactaddress" ng-model="formData.contactaddress" required>
          </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</section>

<script src="/admin/js/client/add.js"></script>