<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div class="box box-primary">
      <form id="addclientForm" ng-submit="submit()">
        <div class="box-body">
         <div class="row">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input class="form-control" placeholder="Name" name="name" ng-model="formData.name" required>
          </div>

          <div class="form-group col-md-6">
            <label>Code</label>
            <input class="form-control" placeholder="Code" name="code" ng-model="formData.code" required>
          </div>

          <!-- <div class="form-group">
            <label>PO Number</label>
            <input class="form-control" placeholder="PO Number" name="poNumber" ng-model="formData.poNumber" required>
          </div>

          <div class="form-group">
            <label>Shipment Number</label>
            <input class="form-control" placeholder="Shipment Number" name="shipmentNo" ng-model="formData.shipmentNo" required>
          </div> -->
          <div class="form-group col-md-6">
            <label>Contact Person</label>
            <input class="form-control" placeholder="Contact Person" name="contactPerson" ng-model="formData.contactPerson" required>
          </div>
          <div class="form-group col-md-6">
            <label>Contact Person Number</label>
            <input class="form-control" placeholder="Contact Person Number" name="contactPersonNo" ng-model="formData.contactPersonNo" required>
          </div>
        </div>
         <div class="row">
          <div class="form-group col-md-6">
            <label>Contact Address</label>
            <textarea class="form-control" placeholder="Contact Address" name="contactAddress" ng-model="formData.contactAddress" required></textarea>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="first-btn btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</section>

<script src="/admin/js/client/add.js"></script>