<% layout('../layout/layout') -%>
<!-- Main content -->
<div ng-controller="ctrl">
    <div class="btn-dwnld-grp">
        <div class="btnBlock">
            <button class="btn-download" ng-click="exportTable()" data-export="export">Download Report</button>
           <!--  <button class="btn-download" ng-click="downloadDemoFile()">Download Sample file</button> -->
        </div>
        <div class="input-group date">
        
        <div class="label-text-fromtodate">
            <label>Year</label> 
            <input class="form-control pull-right dateFilter" id="year" type="text" >
        </div>
        <div class="label-text-fromtodate ">
            <label>Month</label>
            <input id="month"  class="form-control pull-right dateFilter" type="text" >
        </div>
        
        <div class="label-text-viewpagination select-tag">
            <label>View</label>
            <select class="form-control" ng-model="pageCount" ng-change="resetPagination()">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    </div> 
    
    <div class="tableMainBox">
        <table id="mainTable" class="mainTable" width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead class="">
                <tr class="filter-row sticky1">
                <td class="filter_td"><h4><b>Filter</b> <i class="glyphicon glyphicon-circle-arrow-right"></i></h4></td>
                <td><input class="form-control pull-right filterData"  id="empName" placeholder="Emp_Name" name="empName" required></td>
                <td><input class="form-control filterData"  id="transferAmount" placeholder="Transfer Amount" name="transferAmount" required></td>
                <td><input class="form-control filterData"  id="passAmount" placeholder="Pass Amount" name="passAmount" required></td>
                <td><input class="form-control filterData"  id="projectCode" placeholder="Project_Code" name="projectCode" required></td>
                <td><input class="form-control filterData"  id="circleName" placeholder="Circle" name="circleName" required></td>
                <td><input class="form-control filterData"  id="month" placeholder="Month" name="month" required></td>
                <td><input class="form-control filterData"  id="year" placeholder="Year" name="year" required></td>
              </tr>
            
            <tr class="headingRow sticky3">
                <td class="serialNum">Sr. No.</td>
                <td>Emp_Name</td>
                <td>Transfer_Amount</td>
                <td>Pass_Amount</td>
                <td>ProjectCode</td>
                <td>Circle</td>
                <td>Month</td>
                <td>Year</td>
                </tr>
            </thead>
            
            <tr class="dataRow" ng-repeat="(index,claimAdvance) in claimAdvances">
               
                <td>{{ currentIndex(index+1) }}</td>
                <td>{{ claimAdvance.empName }}</td>
                <td>{{ claimAdvance.transferAmount |number : 3  }}</td>
                <td>{{ claimAdvance.passAmount |number : 3  }}</td>
                <td>{{ claimAdvance.projectCode }}</td>
                <td>{{ claimAdvance.circleName }}</td>
                <td>{{ claimAdvance.month }}</td>
                <td>{{ claimAdvance.year }}</td>
              </tr>
        </table>
       
    </div>
    <ul id="pagination" class="pagination-sm"></ul>
</div>

<link href="admin/css/network.css" rel="stylesheet">
<script src="/admin/js/project/jquery.tabletoCSV.js"></script>
<link rel="stylesheet" href="/admin/css/select2.css">
<script src="/admin/js/select2.full.js"></script>
<script src="/admin/js/jquery.twbsPagination.min.js"></script>
<script src="/admin/js/claimMonthly/view.js"></script>
