<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
  <div class="box box-primary" id="addFileSection">
    <form id="addProjectForm" method="post" ng-submit="submit()" enctype="multipart/form-data">
      <div class="box-body">
        <div class="form-group">
          <label>Department</label>
          <select class="form-control" name="department" ng-model="departmentModel" ng-change="departmentChange()"  required>
            <option value="">Select Department</option>
            <option ng-repeat="department in departments" value="{{ department._id }}">{{ department.name }}</option>
          </select>
        </div>

        <div class="form-group" ng-show="departmentModel">
          <label>Project Type</label>
          <select class="form-control" name="projectType" ng-model="projectTypeModel" required>
            <option value="">Select Project Type</option>
            <option ng-repeat="projectType in projectTypes" value="{{ projectType._id }}">{{ projectType.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Upload CSV</label>
          <input id="excelFile" type="file" class="" name="excelFile" required>
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="tableMainBox" id="errorTbl" style="display:none;">
    <div>File cannot process. Uploaded file having following issues. Please correct them and re-upload.</div>
    <table class="mainTable">
      <tr class="headingRow">
        <td>Row no.</td>
        <td>Column name</td>
        <td>Error</td>
      </tr>
      <tr class="dataRow" ng-repeat="errorData in errorDataList">
        <td>{{ errorData.index }}</td>
        <td>{{ errorData.key }}</td>
        <td>{{ errorData.error }}</td>
      </tr>
    </table>
    <button ng-click="reUpload()">Re-upload</button>
  </div>
</section>

<link href="admin/css/network.css" rel="stylesheet">
<script src="/admin/js/project/add.js"></script>