<% layout('../layout/layout') -%>
<!-- Main content -->
<div ng-controller="ctrl">
    <div class="btn-dwnld-grp">
        <button class="btn-download" ng-click="exportTable()" data-export="export">Download csv</button>
        <button class="btn-download" ng-click="downloadDemoFile()">Download Demo file</button>
    </div>
    <div class="input-group date">
       <div class="label-text-fromtodate">
       <label>From Date</label>
        <input class="form-control pull-right dateFilter" id="fromDate" type="text">
        </div>
        <div class="label-text-fromtodate">
        <label>To Date</label>
        <input class="form-control pull-right dateFilter" id="toDate" type="text">
        </div>
        <div class="label-text-viewpagination select-tag">
        <label>View</label>
        <select class="form-control" ng-model="pageCount" ng-change="resetPagination()">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        </div>
    </div>
    <div class="tableMainBox">
        <table id="mainTable" class="mainTable" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
                <td><input class="form-control filterData"  id="projectCodeSearch1" placeholder="Project Code" name="projectCode" required></td>
                <td><input class="form-control filterData" placeholder="Operator" name="operator" required></td>
                <td><input class="form-control filterData" placeholder="Activity" name="activity" required></td>
                <td><input class="form-control filterData" placeholder="Item Description Band" name="itemDescription_Band" required></td>
                <td><input class="form-control filterData" placeholder="Site Id" name="siteId" required></td>
                <td><input class="form-control filterData" placeholder="Site Count" name="siteCount" required></td>
                <td><input class="form-control pull-right dateFilter filterData" id="searchPreDoneDate" name="preDoneDate" type="text" placeholder="Pre Done Date"></td>
                <td><input class="form-control pull-right dateFilter filterData" id="searchPostDoneDate" name="post_ActivityDoneDate" type="text" placeholder="Post Activity Done Date"></td>
                <td>
                    <select class="form-control filterData" name="activityStatus">
                        <option value="">Select activity</option>
                        <option  ng-repeat="activityStatus in activityStatusList" value="{{ activityStatus.statusRemark }}">{{ activityStatus.statusRemark }}</option>
                    </select>
                </td>
                <td>
                    <select class="form-control filterData" name="remark">
                            <option value="">Select remark</option>
                            <option ng-repeat="remark in remarkList" value="{{ remark.statusRemark }}">{{ remark.statusRemark }}</option>
                        </select>
                </td>
                <td>
                        <select class="form-control filterData" name="reportStatus">
                                <option value="">Select remark</option>
                                <option ng-repeat="reportStatus in reportStatusList" value="{{ reportStatus.statusRemark }}">{{ reportStatus.statusRemark }}</option>
                            </select>
                </td>
                <td>
                        <select class="form-control filterData" name="reportAcceptanceStatus">
                                <option value="">Select remark</option>
                                <option ng-repeat="reportAcceptanceStatus in reportAcceptanceStatusList" value="{{ reportAcceptanceStatus.statusRemark }}">{{ reportAcceptanceStatus.statusRemark }}</option>
                            </select>
                </td>
                <td>
                        <select class="form-control filterData" name="clientRemark">
                                <option value="">Select remark</option>
                                <option ng-repeat="clientRemark in clientRemarkList" value="{{ clientRemark.statusRemark }}">{{ clientRemark.statusRemark }}</option>
                            </select>
                </td>
                <td><input class="form-control filterData" placeholder="Concatenate" name="concatenate" required></td>
                <td><input class="form-control filterData" placeholder="Attempt Cycle" name="attemptCycle" required></td>
                <td><input class="form-control filterData" placeholder="Employee Id" name="employeeId" required></td>
                <td><input class="form-control filterData" placeholder="Employee Name" name="employeeName" required></td>
                <td><input class="form-control filterData" placeholder="Co_Ordinator" name="userName" required></td>
            </tr>
            <tr class="alphaRow">
                <td class="alphaCell serialNum">A</td>
                <td class="alphaCell">B</td>
                <td class="alphaCell">C</td>
                <td class="alphaCell">D</td>
                <td class="alphaCell width200">E</td>
                <td class="alphaCell">F</td>
                <td class="alphaCell">G</td>
                <td class="alphaCell">H</td>
                <td class="alphaCell">I</td>
                <td class="alphaCell">J</td>
                <td class="alphaCell">K</td>
                <td class="alphaCell">L</td>
                <td class="alphaCell">M</td>
                <td class="alphaCell">N</td>
                <td class="alphaCell width300">O</td>
                <td class="alphaCell">P</td>
                <td class="alphaCell">Q</td>
                <td class="alphaCell">R</td>
                <td class="alphaCell">S</td>
                <!--<td class="alphaCell">T</td>
                <td class="alphaCell">U</td>
                <td class="alphaCell">V</td>
                <td class="alphaCell">W</td>
                <td class="alphaCell">X</td>
                <td class="alphaCell">Y</td>
                <td class="alphaCell">Z</td>
                <td class="alphaCell">AA</td>
                <td class="alphaCell">AB</td>
                <td class="alphaCell">AC</td>-->
            </tr>
            <tr class="headingRow">
                <td>Sr. No.</td>
                <td>Project_Code</td>
                <td>Operator</td>
                <td>Activity</td>
                <td>Item_Description_Band</td>
                <td>Site_Id</td>
                <td>Site_Count</td>
                <!--<td>Pre_Done_Month</td>-->
                <td>Pre_Done_Date</td>
                <!--<td>Post_Activity_Done_Month</td>-->
                <td>Post_Activity_Done_Date</td>
                <td>Activity_Status</td>
                <td>Remark</td>
                <td>Report_Status</td>
                <td>Report_Acceptance_Status</td>
                <td>Client_Remark</td>
                <td>Concatenate</td>
                <td>Attempt_Cycle</td>
                <td>Employee_Id</td>
                <td>Employee_Name</td>
                <!--<td>Po_Number</td>
                <td>Shippment_No</td>
                <td>L1_Approval</td>
                <td>L2_Approval</td>
                <td>Po_Value</td>
                <td>Start_Time</td>
                <td>End_Time</td>
                <td>Advance</td>
                <td>Approved</td>-->
                <td>Co_Ordinator</td>
            </tr>
            <tr class="dataRow" ng-repeat="(index,project) in projects">
               
                <td>{{ currentIndex(index+1) }}</td>
                <td>{{ project.projectCode }}</td>
                <td>{{ project.operator }}</td>
                <td>{{ project.activity }}</td>
                <td>{{ project.itemDescription_Band }}</td>
                <td>{{ project.siteId }}</td>
                <td>{{ project.siteCount }}</td>
                <!--<td>{{ project.preDoneMonth }}</td>-->
                <td>{{ project.preDoneDate| date : "dd/MMM/yyyy" }}</td>
                <!--<td>{{ project.post_ActivityDoneMonth }}</td>-->
                <td>{{ project.post_ActivityDoneDate| date : "dd/MMM/yyyy" }}</td>
                <td class="statusRemarkTr1">
                    <div class="statusRemarkTxt">
                        {{ project.activityStatus }}
                    </div>
                    <select class="statusRemarkSelect" data-type="activityStatus" data-id="{{ project._id }}">
                        <option value="">Select</option>
                        <option ng-repeat="activityStatus in activityStatusList" value="{{ activityStatus.statusRemark }}" ng-selected="statusRemarkSelected(activityStatus.statusRemark,project.activityStatus)">{{ activityStatus.statusRemark }}</option>
                    </select>
                </td>
                <td class="statusRemarkTr1">
                    <div class="statusRemarkTxt">
                        {{ project.remark }}
                    </div>
                    <select class="statusRemarkSelect" data-type="remark" data-id="{{ project._id }}">
                        <option value="">Select</option>
                        <option ng-repeat="remark in remarkList" value="{{ remark.statusRemark }}" ng-selected="statusRemarkSelected(remark.statusRemark,project.remark)">{{ remark.statusRemark }}</option>
                    </select>
                </td>
                <td class="statusRemarkTr1">
                    <div class="statusRemarkTxt">
                        {{ project.reportStatus }}
                    </div>
                    <select class="statusRemarkSelect" data-type="reportStatus" data-id="{{ project._id }}">
                        <option value="">Select</option>
                        <option ng-repeat="reportStatus in reportStatusList" value="{{ reportStatus.statusRemark }}" ng-selected="statusRemarkSelected(reportStatus.statusRemark,project.reportStatus)">{{ reportStatus.statusRemark }}</option>
                    </select>
                </td>
                <td class="statusRemarkTr1">
                    <div class="statusRemarkTxt">
                        {{ project.reportAcceptanceStatus }}
                    </div>
                    <select class="statusRemarkSelect" data-type="reportAcceptanceStatus" data-id="{{ project._id }}">
                        <option value="">Select</option>
                        <option ng-repeat="reportAcceptanceStatus in reportAcceptanceStatusList" value="{{ reportAcceptanceStatus.statusRemark }}"  ng-selected="statusRemarkSelected(reportAcceptanceStatus.statusRemark,project.reportAcceptanceStatus)">{{ reportAcceptanceStatus.statusRemark }}</option>
                    </select>
                </td>
                <td class="statusRemarkTr1">
                    <div class="statusRemarkTxt">
                        {{ project.clientRemark }}
                    </div>
                    <select class="statusRemarkSelect" data-type="clientRemark" data-id="{{ project._id }}">
                        <option value="">Select</option>
                        <option ng-repeat="clientRemark in clientRemarkList" value="{{ clientRemark.statusRemark }}"  ng-selected="statusRemarkSelected(clientRemark.statusRemark,project.clientRemark)">{{ clientRemark.statusRemark }}</option>
                    </select>
                </td>
                <td>{{ project.concatenate }}</td>
                <td>{{ project.attemptCycle }}</td>
                <td>{{ project.employeeId }}</td>
                <td>{{ project.employeeName }}</td>
                <!--<td>{{ project.poNumber }}</td>
                <td>{{ project.shippmentNo }}</td>
                <td>{{ project.l1Approval }}</td>
                <td>{{ project.l2Approval }}</td>
                <td>{{ project.poValue }}</td>
                <td>{{ project.startTime }}</td>
                <td>{{ project.endTime }}</td>
                <td>{{ project.advance }}</td>
                <td>{{ project.approved }}</td>-->
                <td>{{ project.userName }}</td>
            </tr>
        </table>
       
    </div>
    <ul id="pagination" class="pagination-sm"></ul>
</div>

<link href="admin/css/network.css" rel="stylesheet">
<script src="/admin/js/project/jquery.tabletoCSV.js"></script>
<link rel="stylesheet" href="/admin/css/select2.css">
<script src="/admin/js/select2.full.js"></script>
<script src="/admin/js/jquery.twbsPagination.min.js"></script>
<script src="/admin/js/project/view.js"></script>

<style>
.statusRemarkTr1 .statusRemarkSelect{
    display:none;
}
.statusRemarkTr2 .statusRemarkTxt{
    display:none;
}
</style>