<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div>
        <input placeholder="From date" id="fromDate" ng-model="fromDate" ng-change="getReport()">
        <input placeholder="To date" id="toDate"  ng-model="toDate" ng-change="getFromDb()">
        
        <button ng-click="clearFilter()">Clear filter</button>
    </div>
    <div class="circleClients">
        <table class="mainTable">
            <tr>
                <td class="ccm1"><strong>Employee Name</strong></td>
                <td class="ccm1"><strong>Total</strong></td>
                <td class="ccm1"><strong>Kit Name</strong></td>
                <td class="ccm1"><strong>Total Amount (In-Kit)</strong></td>
            </tr>
            <tbody class="tbodyBorder" ng-repeat="employee in report">
                <tr ng-repeat="site in employee" ng-init="count = empNameCount[site.empUserId];">
                    <td class="ccm1" rowspan='{{ rowCount(count,$index) }}' ng-show="$index == 0">{{ site.empName }}</td>
                    <td class="ccm1" rowspan='{{ rowCount(count,$index) }}' ng-show="$index == 0">{{ empTotal[site.empUserId] }}</td>
                    <td class="ccm1">{{ site.kitName }}</td>
                    <td class="ccm1">{{ site.totalAmount | number:2}}</td>
                </tr>
            </tbody>
            <tr>
                <td>&nbsp;</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td class="ccm1"><strong>Total</strong></td>
                <td class="ccm1"><strong>{{ totalAmount | number:2}}</strong></td>
                <td class="ccm1"></td>
                <!-- <td class="ccm1"></td>
                <td class="ccm1"></td>
                <td></td> -->
                <td class="ccm1"></td>
            </tr>
        </table>
    </div>
</section>

<script src="/admin/js/report/misKit.js"></script>
