<% layout('../layout/layout') -%>
    <!-- Main content -->
    <section class="content" ng-controller="ctrl">
        <div>
            <select id="ddlYear" ng-model="year" ng-change="getReport()">
                <option value="">Select year</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option selected="true" value="2018">2018</option>
               </select>
               <select id="ddlMonth" ng-model="month" ng-change="getReport()">
                    <option value="">Select Month</option>
                   <option value="January">Jan</option>
                   <option value="February">Feb</option>
                   <option value="March">Mar</option>
                   <option value="April">April</option>
                   <option value="May">May</option>
                   <option value="June">June</option>
                   <option value="July">July</option>
                   <option value="August">Aug</option>
                   <option value="September">Sep</option>
                   <option value="October">Oct</option>
                   <option value="November">Nov</option>
                   <option value="December">Dec</option>
               </select>
            <!-- <input placeholder="From date" id="fromDate" ng-model="fromDate" ng-change="getReport()">
            <input placeholder="To date" id="toDate" ng-model="toDate" ng-change="getReport()"> -->
            <!-- <select ng-model="client" ng-change="getReport()" id="client">
                <option value="">Select client</option>
                <option ng-repeat="client in clients" value="{{ client._id }}">{{ client.name }}</option>
            </select> -->

            <button ng-click="clearFilter()">Clear filter</button>
        </div>
        <div class="circleClients">
            <h2>Salary report</h2>  <span><b>Total Salary - {{totalAmount}}</b></span>
            <!-- <table class="mainTable">
                <tr>
                    <td class="ccm1">
                        <strong>Name</strong>
                    </td>
                    <td class="ccm1">
                            <strong>Salary</strong>
                        </td>
                    <td class="ccm1">
                        <strong>process salary</strong>
                    </td>
                    <td class="ccm1">
                        <strong>Working Day's</strong>
                    </td>
                </tr>
                <tbody  class="tbodyBorder">
                    <tr ng-repeat="salary in salarys" >
                        <td class="ccm1">{{salary.employeeName}}</td>
                        <td class="ccm1">{{salary.salary}}</td>
                        <td class="ccm1">{{salary.processSalary}}</td>
                        <td class="ccm1">{{salary.days}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>

                </tr>

            </table> -->



            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name #</th>
                            <th>Salary</th>
                            <th>process salary</th>
                            <th>Working Day's</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="salary in salarys">
                          <td>{{salary.employeeName}}</td>
                          <td>{{salary.salary}}</td>
                          <td>{{salary.processSalary}}</td>
                          <td>{{salary.days}}</td>
                       </tr>
               
                    </tbody>
            </table>


        </div>
    </section>
   
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

<script src="/admin/js/report/misSalary.js"></script>
   