<% layout('../layout/layout') -%>
<!-- Main content -->
<section class="content" ng-controller="ctrl">
    <div>
        <input placeholder="From date" id="fromDate" ng-model="fromDate" ng-change="getReport()">
        <input placeholder="To date" id="toDate"  ng-model="toDate" ng-change="getReport()">
        <select ng-model="client" ng-change="getReport()" id="client">
            <option value="">Select client</option>
            <option ng-repeat="client in clients" value="{{ client._id }}">{{ client.name }}</option>
        </select>

        <button ng-click="clearFilter()">Clear filter</button>
    </div>
    <div class="circleClients">
        <h2>Client report</h2>
        <table class="mainTable">
            <tr>
                <td class="ccm1"><strong>Vendor Type</strong></td>
                <td class="ccm1"><strong>Vendor Name</strong></td>
                <td class="ccm1"><strong>Client Name</strong></td>
                <td class="ccm1"><strong>Circle Name</strong></td>
                <td class="ccm1"><strong>Activity</strong></td>
                <td class="ccm1"><strong>Total Amount</strong></td>
            </tr>
            <tbody  class="tbodyBorder">
                <tr ng-repeat="site in report">
                    <td class="ccm1" rowspan='{{ site.vendorTypeCount }}' ng-show="site.showVendorType">{{ site.vendorType }}</td>
                    <td class="ccm1" rowspan='{{ site.vendorNameCount }}' ng-show="site.showVendorName"><strong>{{ site.vendorName }}</strong></td>
                    <td class="ccm1" rowspan='{{ site.clientNameCount }}' ng-show="site.showClientName">{{ site.clientName }}</td>
                    <td class="ccm1" rowspan='{{ site.circleNameCount }}' ng-show="site.showCircleName">{{ site.circleName }}</td>
                    <td class="ccm1">{{ site.activityName }}</td>
                    <td class="ccm1">{{ site.totalAmount }}</td>
                </tr>
            </tbody>
            <tr>
                <td>&nbsp;</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td class="ccm1"><strong>Total</strong></td>
                <td class="ccm1"></td>
                <td class="ccm1"></td>
                <td class="ccm1"></td>
                <td></td>
                <td class="ccm1"><strong>{{ totalAmount }}</strong></td>
              </tr>
        </table>
    </div>
</section>

<script src="/admin/js/report/misVendor.js"></script>
