<aside class="main-sidebar sidebar-dark-primary elevation-4" ng-controller="headerSidebarCtrl">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="admin/dist/img/AdminLTELogo.png"  alt="AdminLTE Logo" style="opacity: 1; width:60%;">
    <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2 nav-item2" alt="User Image">
      </div>
      <div class="info">
        <a href="/" class="d-block">{{ name }}</a>
        <a href="/">
          <small>{{ userType }}</small>
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!--======= Dashboard ============-->
        <li class="nav-item has-treeview">
          <a href="/" class="nav-link">
            <i class="nav-icon fa fa-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!--======= /Dashboard ============-->
        <!--======= User ============-->
        <li class="nav-item has-treeview userSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-user-circle-o"></i>
            <p>User
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-user" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add user</a>
            </li>
            <li class="nav-item">
              <a href="/view-users" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View user</a>
            </li>
            <li class="nav-item">
              <a href="/user-type" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> User Type</a>
            </li>
          </ul>
        </li>
        <!--======= /User ============-->

        <!--======= Region ============-->
        <li class="nav-item has-treeview regionSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-rocket"></i>
            <p>Region
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-region" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add region</a>
            </li>
            <li class="nav-item">
              <a href="/view-region" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View region</a>
            </li>
          </ul>
        </li>
        <!--======= /Region ============-->

        <!--======= Circle ============-->
        <li class="nav-item has-treeview circleSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-star-half-o"></i>
            <p>Circle
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-circle" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Circle</a>
            </li>
            <li class="nav-item">
              <a href="/view-circle" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Circle</a>
            </li>
          </ul>
        </li>
        <!--======= /Circle ============-->

        <!--======= Activity ============-->
        <li class="nav-item has-treeview activitySideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-sun-o"></i>
            <p>Activity
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-activity" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Activity</a>
            </li>
            <li class="nav-item">
              <a href="/view-activity" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Activity</a>
            </li>
          </ul>
        </li>
        <!--======= /Activity ============-->
        <!--======= Client ============-->
        <li class="nav-item has-treeview clientSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-square-o"></i>
            <p>Client
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-Client" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Client </a>
            </li>
            <li class="nav-item">
              <a href="/view-Client" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Client </a>
            </li>
          </ul>
        </li>
        <!--======= /Client ============-->
        <!--======= Operator ============-->
        <li class="nav-item has-treeview operatorSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-shield"></i>
            <p>Operator
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-operator" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Operator</a>
            </li>
            <li class="nav-item">
              <a href="/view-operator" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Operator</a>
            </li>
          </ul>
        </li>
        <!--======= /Operator ============-->
        <!--======= Department ============-->
        <li class="nav-item has-treeview departmentSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-asterisk"></i>
            <p>Department
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-department" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Department</a>
            </li>
            <li class="nav-item">
              <a href="/view-department" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Department</a>
            </li>
          </ul>
        </li>

        <!--======= /Department ============-->
        <!--======= Project Type ============-->
        <li class="nav-item has-treeview projectTypeSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-product-hunt"></i>
            <p>Project Type
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-project-type" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Project Type</a>
            </li>
            <li class="nav-item">
              <a href="/project-type" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Project Type</a>
            </li>
          </ul>
        </li>
        <!--======= /Project Type ============-->
        <!--======= Status/Remark ============-->
        <li class="nav-item has-treeview statusRemarkSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-hourglass-start"></i>
            <p>Status/Remark
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-status-remark" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Status/Remark</a>
            </li>
            <li class="nav-item">
              <a href="/status-remark" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Status/Remark</a>
            </li>
          </ul>
        </li>

        <!--======= /Status/Remark ============-->
        <!--======= Project ============-->
        <li class="nav-item has-treeview projectSideBar mangerAdmincoOrdinatorAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-certificate"></i>
            <p>Project
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-project-general" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Project</a>
            </li>
            <li class="nav-item coOrdinatorAccess">
              <a href="/add-project" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Project</a>
            </li>
            <li class="nav-item">
              <a href="/view-project" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Project</a>
            </li>
          </ul>
        </li>

        <!--======= /Project ============-->
        <!--======= Kit ============-->
        <li class="nav-item has-treeview kitSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-retweet"></i>
            <p>Kit Management
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item mangerAdminAccess">
              <a href="/add-kit" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Kit</a>
            </li>
            <li class="nav-item">
              <a href="/view-kit" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Kit</a>
            </li>
          </ul>
        </li>
        <!--======= /Kit ============-->
        <!--======= Claim/Total Advance ============-->
        <li class="nav-item has-treeview claimAdvanceSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-bandcamp"></i>
            <p>CLAIM/Total Advance
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-claim-Advance" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Claim Advance</a>
            </li>
            <li class="nav-item">
              <a href="/view-claim-Advance" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Claim Daily</a>
            </li>
            <li class="nav-item">
              <a href="/view-claim-Monthly" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Claim Monthly</a>
            </li>
          </ul>
        </li>

        <!--======= /CLAIM/Total Advance ============-->
        <!--======= Cab ============-->
        <li class="nav-item has-treeview cabSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-superpowers"></i>
            <p>Cab
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-cab" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Cab</a>
            </li>
            <li class="nav-item">
              <a href="/view-cab" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Cab</a>
            </li>
          </ul>
        </li>
        <!--======= Cab ============-->
        <!--======= vendor ============-->
        <li class="nav-item has-treeview vendorSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-microchip"></i>
            <p>Vendor
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-vendor" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add Vendor</a>
            </li>
            <li class="nav-item">
              <a href="/view-vendor" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Vendor</a>
            </li>
          </ul>
        </li>

        <!--======= vendor ============-->
        <!--======= Tracking  salaryAdminAccess============-->
        <li class="nav-item has-treeview attendanceSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-grav"></i>
            <p>Attendance tracking
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/add-tracking-sheet" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Add attendance Sheet</a>
            </li>
            <li class="nav-item">
              <a href="/view-tracking-sheet" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View attendance Daily</a>
            </li>
            <li class="nav-item">
              <a href="/view-tracking-monthly" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View attendance Monthly</a>
            </li>
          </ul>
        </li>
        <!--======= Tracking ============-->
        <!--======= Billing ============-->
        <li class="nav-item has-treeview billingSideBar billingAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-anchor"></i>
            <p>Billing
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/update-billing" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Update Billing</a>
            </li>
            <li class="nav-item">
              <a href="/view-billing" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> View Billing</a>
            </li>
          </ul>
        </li>
        <!--======= /Billing ============-->
        <!--======= Reporting ============-->
     
        <li class="nav-item has-treeview misSideBar mangerAdminAccess">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-flag-checkered"></i>
            <p>MIS
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a href="/mis-PL" class="nav-link">
                    <i class="nav-icon fa fa-arrows"></i> P&L report</a>
                </li>
                 <li class="nav-item">
                  <a href="/mis-monthly-PL" class="nav-link">
                    <i class="nav-icon fa fa-arrows"></i>  Monthly P&L report</a>
                </li>
                <li class="nav-item">
                    <a href="/mis-business" class="nav-link">
                      <i class="nav-icon fa fa-arrows"></i> Business </a>
                  </li>
                  <li class="nav-item">
                      <a href="/mis-circle" class="nav-link">
                        <i class="nav-icon fa fa-arrows"></i> Circle </a>
                    </li>
                    <li class="nav-item">
                        <a href="/mis-client" class="nav-link">
                          <i class="nav-icon fa fa-arrows"></i> Client </a>
                      </li>
          </ul>
        </li>

        <!--======= /Reporting ============-->
          <!--======= Investment Report ============-->
          <li class="nav-item has-treeview billingSideBar mangerAdminAccess">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-info-circle"></i>
              <p>Investment Reports
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/mis-claim-advance" class="nav-link">
                  <i class="nav-icon fa fa-arrows"></i> Claim Advance</a>
              </li>
              <li class="nav-item">
                <a href="/mis-vendor" class="nav-link">
                  <i class="nav-icon fa fa-arrows"></i> Vendor</a>
              </li>
              <li class="nav-item">
                <a href="/mis-cab" class="nav-link">
                  <i class="nav-icon fa fa-arrows"></i> Cab</a>
              </li>
            <li class="nav-item">
              <a href="/mis-kit" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Kit</a>
            </li>
            <li class="nav-item">
              <a href="/mis-salary" class="nav-link">
                <i class="nav-icon fa fa-arrows"></i> Salary </a>
            </li>
            </ul>
         
        </li>
          <!--======= /Investment Report ============-->
      <!-- </ul> -->
    <!-- </li> -->
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>