<aside class="main-sidebar" ng-controller="headerSidebarCtrl">
    <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ name }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <!--======= Dashboard ============-->
      <li class="">
        <a href="/">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <!--======= /Dashboard ============-->
      <!--======= User ============-->
      <li class="treeview userSideBar mangerAdminAccess">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>User</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-user"><i class="fa fa-circle-o"></i> Add user</a></li>
          <li><a href="/view-users"><i class="fa fa-circle-o"></i> View user</a></li>
          <li><a href="/user-type"><i class="fa fa-circle-o"></i> User Type</a></li>
        </ul>
      </li>
      <!--======= /User ============-->

      <!--======= Region ============-->
      <li class="treeview regionSideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Region</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-region"><i class="fa fa-circle-o"></i> Add region</a></li>
          <li><a href="/view-region"><i class="fa fa-circle-o"></i> View region</a></li>
        </ul>
      </li>
      <!--======= /Region ============-->

      <!--======= Circle ============-->
      <li class="treeview circleSideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Circle</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-circle"><i class="fa fa-circle-o"></i> Add Circle</a></li>
          <li><a href="/view-circle"><i class="fa fa-circle-o"></i> View Circle</a></li>
        </ul>
      </li>
      <!--======= /Circle ============-->

      <!--======= Activity ============-->
      <li class="treeview activitySideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Activity</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-activity"><i class="fa fa-circle-o"></i> Add Activity</a></li>
          <li><a href="/view-activity"><i class="fa fa-circle-o"></i> View Activity</a></li>
        </ul>
      </li>
      <!--======= /Activity ============-->
      <!--======= Client ============-->
      <li class="treeview clientSideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Client</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-Client"><i class="fa fa-circle-o"></i> Add Client</a></li>
          <li><a href="/view-Client"><i class="fa fa-circle-o"></i> View Client</a></li>
        </ul>
      </li>
      <!--======= /Client ============-->
      <!--======= Department ============-->
      <li class="treeview departmentSideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Department</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-department"><i class="fa fa-circle-o"></i> Add Department</a></li>
          <li><a href="/view-department"><i class="fa fa-circle-o"></i> View Department</a></li>
        </ul>
      </li>
      <!--======= /Department ============-->
      <!--======= Project Type ============-->
      <li class="treeview projectTypeSideBar">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Project Type</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="mangerAdminAccess"><a href="/add-project-type"><i class="fa fa-circle-o"></i> Add Project Type</a></li>
          <li><a href="/project-type"><i class="fa fa-circle-o"></i>Project Type</a></li>
        </ul>
      </li>
      <!--======= /Project Type ============-->
      <!--======= Status/Remark ============-->
      <li class="treeview statusRemarkSideBar">
          <a href="#">
              <i class="fa fa-dashboard"></i> <span>Status/Remark</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
              <li class="mangerAdminAccess"><a href="/add-status-remark"><i class="fa fa-circle-o"></i> Add Status/Remark</a></li>
              <li><a href="/status-remark"><i class="fa fa-circle-o"></i> Status/Remark</a></li>
          </ul>
      </li>
      <!--======= /Status/Remark ============-->
      <!--======= Project ============-->
      <li class="treeview projectSideBar">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Project</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="coOrdinatorAccess"><a href="/add-project"><i class="fa fa-Project-o"></i> Add Project</a></li>
            <li><a href="/view-project"><i class="fa fa-Project-o"></i> View Project</a></li>
        </ul>
      </li>
      <!--======= /Project ============-->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
